.blog-detail-content {
    background-color: #fff;
    padding: 2rem 2rem;
}

#blog-content {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.blog-detail-title {
    text-align: center;
    font-size: 2.6rem;
}

.blog-detail-time {
    margin-right: 1rem;
}

.blog-detail-label {
    margin-right: 1rem;
}

.blog-detail-about {
    margin-top: 2rem;
}

.blog-detail-about span {
    display: inline-block;
    font-size: 1.2rem;
}

.blog-detail-span-left {
    margin-left: 1rem;
}

.visit-i {
    margin-right: 0.5rem;
}

.blog-detail-footer {
    text-align: right;
}

/*博客评论*/
.leave-word-message {
    padding: 2rem 2rem;
    background-color: #ffffff;
    border-top: 1px #a0cfff solid;
    border-bottom: 1px #a0cfff solid;

}

.leave-word-message-title {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.user-message {
    display: flex;
    align-content: center;
    font-size: 1.8rem;
    height: 12rem;
    line-height: 5rem;
    padding: 1rem 1rem 0 0;
    border: 1px #a0cfff solid;
    border-radius: 1rem;

}

.user-message span {
    margin-left: 3rem;
}

.user-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.leave-word-write {
    height: 10rem;
    margin: 2rem 0 2rem 0;
}

.summit {
    margin-top: 2rem;
}

/*评论显示*/
.look-observe {
    padding: 2rem 2rem;
    background-color: #ffffff;
}

#observe-title {
    text-align: center;
    font-weight: bold;
}

#my-observe-user {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;
}

#clear-observe-tag {
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    margin-left: 85%;
}

#my-observe-user-content {
    font-size: 1.4rem;
}

.custom-tree-node {
    width: 100%;
}

.el-tree-node__content {
    height: 8rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #eee;
}

.observe-content {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.observe-top {
    line-height: 3rem;
    height: 3rem;
}

.observe-top span {
    display: inline-block;
    vertical-align: middle;
}

.observe-header-img {
    display: inline-block;
    vertical-align: middle;
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

.observe-nickname {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.observe-user {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.observe-date {
    float: right;
    margin-right: 2rem;
}

.observe-tag {
    float: right;
}

/*解决mavonEditor 有序无序列表不显示 common.css样式冲突*/
ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    list-style: inherit;
}
#blog-content img {
    max-width: 80rem;
}


