.blog-content {
    width: 81rem;
    margin: 2rem auto;
    background-color: #ffffff;
    border: 1px solid #8c939d;
    border-radius: 1rem;
    padding: 0 2rem 2rem;

}
.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}
.txt {
    min-height: 2rem;
    max-height: 6rem;
    line-height: 3rem;
    font-size: 1.5rem;
    overflow: hidden;
}
.line {
    margin: 2rem 0;
    border-bottom: 1px solid #8c939d;
}
.num {
    font-size: 1.6rem;
    height: 3rem;
    line-height: 3rem;
}
.num span {
    margin-right: 1rem;
}
.more {
    float: right;
}
/*分页*/
.page {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 1rem;
}
