html {
    font-size: 10px;
}

body {
    background-image: url("../img/background-global.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
}
.content {
    width: 120rem;
    margin: 2rem auto;
}
#aside {
    width: 30rem;
    float: right;
}
section {
    width:85rem;
    height:50rem;
    float: left;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

#aside {
    width: 30rem;
    float: right;
}

section {
    width: 85rem;
    height: 50rem;
    float: left;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
/*分页*/
.page {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 1rem;
}

