html {
    font-size: 10px;
}

body {
    background: url("../img/background-global.jpg") no-repeat center;
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
}


.content {
    width: 120rem;
    margin: auto;
}

#aside {
    width: 30rem;
    float: right;
}

section {
    margin-top: 2rem;
    width: 85rem;
    height: 50rem;
    float: left;
}

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}


