html {
    font-size: 10px;
}

body {
    background: url("../img/background-global.jpg") no-repeat center;
    background-size: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
}

.content-warp {

}

.content {
    width: 120rem;
    margin: auto;
}


