.foot {
    position: absolute;
    bottom: 0;
    height: 20rem;
    width: 100%;
    border:1px solid red;
}
.code {
    width: 40rem;
    padding: 5rem 6rem;
}
.code img {
    margin: 0 3rem;
}
.content {
    width: 10rem;
    height: 10rem;
    border:1px solid red;
}
