.content {
    width: 120rem;
    margin-top: 2rem;
}
.leave-word-top {
    line-height: 10rem;
    padding: 0 5rem;
}
.leave-word-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}
.leave-word-say {
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;

}
.leave-word-message {
    width: 80rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    background-color: #ffffff;
    border-radius: 1rem;

}
.leave-word-message-title {
    font-size: 2rem;
    margin: 2rem 1rem;
}
.user-message {
    display: flex;
    align-content: center;
    font-size: 1.8rem;
    height: 12rem;
    line-height: 5rem;
    padding: 1rem 1rem 0 0;
    border: 1px #a0cfff solid;
    border-radius: 1rem;

}
.user-message span {
    margin-left: 5rem;
}
.user-message div {
    display: block;
    width: 20rem;
}
.user-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}
.leave-word-write {
    height: 16rem;
    margin: 2rem 0 2rem 0;
}
.summit {
    margin-top: 2rem;
}
.look-leave-word {
    font-size: 1.6rem;
    width: 80rem;
    margin:2rem auto;
    padding: 2rem 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
}
.leave-word-user img {
    vertical-align: middle;
}
.user-num {
    margin: 2rem 0;
    font-weight: bold;
}
.leave-word-content {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #c6e2ff;
    border-radius: 1rem;
}
.content-line {
    border: 0.1rem solid #8c939d;
    margin: 1rem 0;
}
.leave-word-time {
    float: right;
    font-size: 1.2rem;
}
.leave-word-txt {
    margin: 1rem 0;
    padding-left: 3rem;
    min-height: 0;
    max-height: 6rem;
    line-height: 3rem;
    font-size: 1.5rem;
    overflow: hidden;
}
