.header-top {
    height: 20rem;
    /*border: 1rem #3a8ee6 solid;*/
}

/*导航栏内容*/
#top {
    width: 120rem;
    margin: auto;
    color: #66b1ff;
}

.top-search {
    display: inline-block;
    margin-top: 1rem;
    float: right;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
}

/*取消el-ui的导航栏的默认下边框*/
.el-menu.el-menu--horizontal {
    border-bottom: none;
}

.el-menu-item {
    font-size: 2rem;
}

.el-menu-item i{
    font-size: 2rem;
    color: #fff;
    padding-right: 1rem;
}
/*改变默认悬停样式*/
.el-menu-item:hover{
    background-color: rgba(0,0,0,0) !important;
    color: #000 !important;
}

/*云图片*/
#cloud {
    position: absolute;
    top: -15rem;
    left: 5%;
    z-index: -1;
    opacity: 0.7;
}

/*阳光图片*/
#sun {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.85;
}

/*导航栏之上样式*/
.header-top-content {
    position: relative;
    width: 120rem;
    margin: auto;
}

.blog-logo {
    margin: 1rem 0 1rem 10rem;
}

.blog-say {
    margin-left: 30rem;
}
/*搜索输入框*/
.el-dialog {
    width: 40%;
}
.dialog_search {
    float: left;
    line-height: 3rem;
}
.el-input {
    width: 70%;
}
.search_btn {
    margin-left: 1rem;
}
.search-blog-content {
    margin: 2rem auto;
    background-color: #ffffff;
    border: 1px solid #8c939d;
    border-radius: 1rem;
    padding: 0 2rem 2rem;

}
.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
}
.txt {
    min-height: 2rem;
    max-height: 6rem;
    line-height: 3rem;
    font-size: 1.5rem;
    overflow: hidden;
}
.line {
    margin: 2rem 0;
    border-bottom: 1px solid #8c939d;
}
.num {
    font-size: 1.6rem;
    height: 2rem;
    line-height: 2rem;
}
.more {
    float: right;
}
#time-find-more{
    min-width: 4rem;
    margin: 3rem auto 0 auto;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}
